<!DOCTYPE html>
<html lang="en">
<head>
	<title>Email Validation</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		*{
			margin: 0 px auto;
			padding: 0 px auto;
		}
		p{
			color: red;
			text-align: center;
		}
	</style>
</head>
<body>
	<div class="container">
		<form action="/success" method="POST">
  	<div class="form-group">
    	<label for="exampleInputEmail1">Email address</label>
    	<input type="text" class="form-control" name="email_addy" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  	</div>
  		<input type="submit" name="add_email" value="Submit">
		</form>
	</div>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</body>
</html>