<!DOCTYPE html>
<html>
<head>
	<title>Valid Email</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style type="text/css">
	p{
		text-align: center;
		color: green;

	}
</style>
</head>
<body>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
  	{% for one_email in whole_mail %}
    <tr>
      <td>{{one_email['email_address']}}</td>
      <td>{{one_email['created_at']}}</td>
  	</tr>
  	{% endfor %}
  </tbody>
</table>
<a href="/">Home</a>
</body>
</html>
